@import "tailwindcss";

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1.5s linear infinite;
}

.animation-delay-200 {
  animation-delay: 0.2s;
}

.animation-delay-400 {
  animation-delay: 0.4s;
}
